/* .header-container{
    background-color: wheat;
} */
.title{
    font-size: 60px;
    font-weight: bold;
}
p{
    font-size: 24px;
    font-weight: bold;
}
.contents{
    text-align: center;
    margin-top: 70px;
    padding: 20px;
}